name: CI

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
      - name: Setup OpenJDK
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: temurin
          cache: gradle
      - name: Build with Gradle
        run: |
          chmod +x ./gradlew
          ./gradlew build -x test
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-cache-${{ github.sha }}
          path: build/
          retention-days: 1 # 하루만 보관
  unit-test:
    name: Unit test
    runs-on: ubuntu-latest
    needs: [ build ]
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
      - name: Setup OpenJDK
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: temurin
          cache: gradle
      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-cache-${{ github.sha }}
          path: build/
      - name: Run unit tests
        run: |
          chmod +x ./gradlew
          ./gradlew test

  static-analyze:
    name: Static analysis
    runs-on: ubuntu-latest
    needs: [ build ]
    permissions:
      security-events: write
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
      - name: Setup OpenJDK
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: temurin
          cache: gradle
      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-cache-${{ github.sha }}
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          build-mode: manual
          language: java-kotlin
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v3
        with:
          category: "/language:java-kotlin"
